<html>
  <head>
  </head>
  <body>
    <div id="timesink1" style="width: 100%; height: 500px"></div>
    <div id="constellation1" style="width: 100%; height: 500px"></div>
    <div id="constellation2" style="width: 100%; height: 500px"></div>

	
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='relia/relia.js') }}"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(loadWidgets);

      window.API_BASE_URL = "{{ url_for('api.index') }}";

      function loadReliaTimeSink() {
	 /* var sink = new ReliaConstellationSink("ourdemo", "my-device-id", "RELIA Time Sink(1)");
         sink.redraw(); /*  */
	  var sink = new ReliaTimeSink("timesink1", "my-device-id", "RELIA Time Sink(1)");
         sink.redraw();     /*  */
         }
      function loadReliaConstellation1() {
	  var sink = new ReliaConstellationSink("constellation1", "my-device-id", "RELIA Constellation Sink(1)");
         sink.redraw(); /*  */
	  /*var sink = new ReliaTimeSink("ourdemo", "my-device-id", "RELIA Time Sink(1)");
         sink.redraw();     /*  */
         }
      function loadReliaConstellation2() {
	  var sink = new ReliaConstellationSink("constellation2", "my-device-id", "RELIA Constellation Sink(2)");
         sink.redraw(); /*  */
	  /*var sink = new ReliaTimeSink("ourdemo", "my-device-id", "RELIA Time Sink(1)");
         sink.redraw();     /*  */
         }

	function loadWidgets() {
		loadReliaTimeSink();
		loadReliaConstellation1();
		loadReliaConstellation2();
	}
        
    </script>
    
  <body>
  <body>
        <!--Divs that will hold the charts-->
        <div id="ourdemo"></div>
        <div id="ourdemo2"></div>
  </body>
</html>

 
<input type="checkbox" class="checkbox"  id="time-sink-real-checkbox" checked> Real<br>
<input type="checkbox" class="checkbox"  id="time-sink-imag-checkbox" checked> Imag<br>
